@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

html{
    scroll-behavior: smooth;    
}

body{
    position: absolute;

    width: 100%;
    
    font-family: "Roboto", serif;
}

header{
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 75px;

    align-items: center;
    justify-content: space-between;

    background: white url(../imagens/folha.png) top left no-repeat scroll;
    background-size: 120px;
}

div#logo{
    display: flex;

    width: 65px;
    height: 65px;
    
    align-items: center;
    justify-content: center;

    margin-left: 20px;

    background: gray url(../imagens/logo.png) center no-repeat scroll;
    background-size: 60px;
    box-shadow: .5px 4px 6px rgba(0, 0, 0, 0.301);
    border-radius: 50%;
}

nav  ul{
    margin-right: 10vw;
    list-style: unset;
}

nav a {
    color: black;
    text-decoration: none;
}

div#inicio{
    display: flex;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 275px;

    background: gray url(../imagens/central.png) center no-repeat scroll;
    background-size: cover;
}

div#inicio > h1{
    padding: 10px;

    font-family: "Montserrat", serif;
    font-weight: bold;
    font-size: 24px;
    color: rgba(46, 125, 50, 1);
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    border-radius: 10px;
}

article#historia{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

div#titulo_historia{
    display: flex;

    align-items: center;
    justify-content: space-between;

    overflow: hidden;

    width: 100%;
    height: 75px;

    background-color: rgba(242, 242, 242);
}

div#titulo_historia > h2{
    margin-left: 40px;

    text-transform: uppercase;
    text-decoration: underline;
}

picture{
    width: 63px;
    height: 63px;

    margin-right: 15px;

    background: rgba(217, 217, 217, 1) url(../imagens/paisagem.png) center no-repeat scroll;
    background-size: 75px;
    border-radius: 50%;
    box-shadow: 3px 1px 4px rgba(0, 0, 0, 0.158);
}

div#txt_historia{
    max-width: 393px;
    max-height: 359px;

    margin-bottom: 15px;
    padding: 0px 5px;

    overflow: hidden;
    background-color: rgba(233, 233, 233, 1);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.158);
    will-change: max-height, padding;
}

div#txt_historia > div{
    margin: 5px 0;
    padding: 10px 15px;

    overflow: scroll;
    
    border-top: 3px solid white;
    border-bottom: 3px solid white;

    text-align: justify;
}

article#missao{
    display: flex;

    align-items: center;
    justify-content: center;

    overflow: hidden;

    width: 100%;
    height: 400px;

    background-image: linear-gradient(to right, rgb(165, 214, 167), rgb(139, 180, 141));
    box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.75);
}

article#missao > div{
    display: flex;
    flex-direction: column;

    gap: 15px;
    align-items: center;
    justify-content: center;

    width: 282px;
    height: 334px;

    background-color: rgb(217, 217, 217);
    border-radius: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.178);
}

article#missao > div > h2{
    text-align: center;
    color: rgb(46, 125, 50);
}

article#missao > div > div{
    display: flex;

    align-items: center;
    justify-content: center;

    width: 260px;
    height: 245px;

    background: rgb(237, 237, 237) url(../imagens/planeta.png) center no-repeat fixed;
    background-size: 150px;
}

article#missao > div > div > p{
    width: 230px;
    height: 225px;

    padding: 10px;

    text-align: justify;
    font-weight: 300px;
    line-height: 22px;
    background-color: rgba(165, 214, 167, 0.5);
    border-radius: 5px;
    backdrop-filter: blur(8px);
}

article#visao{
    width: 350px;
    height: 350px;

    margin: auto;

    text-align: center;
}

article#visao > h2{
    padding: 15px 0px;

    border-bottom: 1px solid rgb(121, 121, 121);
}

article#visao > p{
    width: 250px;

    margin: auto;

    color: rgb(123, 159, 124);
    font-size: 16px;

    line-height: 35px;
}

.aparecer{
    position: fixed;
    bottom: 25px;
    right: 25px;

    display: flex;

    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;

    background-color: rgba(128, 128, 128, 0.548);
    border-radius: 50%;
}

.aparecer:active{
    bottom: 27.5px;
    right: 27.5px;

    width: 45px;
    height: 45px;
}

.aparecer > input{
    width: 100%;
    height: 100%;

    color: white;
    background-color: transparent;
    border: 0px;
}